body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    padding: 20px;
}

.container {
    max-width: 600px;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px grey;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid grey;
    box-sizing: border-box;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.radio-group input[type=radio]{
    width: 30px;
}